
/* ***************************** */
/* base design for large screens */
/* colours, settings etc */
/* ********************* */
html, body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    margin:0;
    padding:0;
    color: #000000;
    background-image: url("images/light.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat;
    background-color: #E6F4FF;
    position: relative;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: #004379;
}
a:hover {
    color: #006BC4;
}
.hidden {
    display:none;
}
/* container settings, center box */
.container {
    margin: 0 auto;
    padding: 0.5em 18% 0.5em 5%;
    width: 77%;
}
main {
    padding-top: 3rem !important;;
    padding-bottom: 10rem  !important;
}
main ul {
    list-style: none;
    padding: 0;
}
main ul li:before {
	content: "\2192 \0020";
}

/* *************** */
/* header settings */
/* *************** */

header {
    position: relative;
    height: 150px ;
}
h1 a{
    text-decoration: none;
    color: #333333;
}
h1 a:hover {
    color: #2266aa;
    text-shadow: 0 0 2px white;
}
header {
    background: repeating-linear-gradient(
        -45deg,
        rgba(150,200,255,0.6),
        rgba(150,200,255,0.6) 30px, 
        rgba(150,255,255,0.3) 30px, 
        rgba(150,255,255,0.3) 60px
    ),
    repeating-linear-gradient(
        -90deg,
        rgba(150,200,255,0.6),
        rgba(150,200,255,0.6) 30px, 
        rgba(150,255,255,0.3) 30px, 
        rgba(150,255,255,0.3) 60px
    ),
    repeating-linear-gradient(
        -135deg,
        rgba(150,200,255,0.6),
        rgba(150,200,255,0.6) 30px, 
        rgba(150,255,255,0.3) 30px, 
        rgba(150,255,255,0.3) 60px
    ),
    repeating-linear-gradient(
        -180deg,
        rgba(150,200,255,0.6),
        rgba(150,200,255,0.6) 30px, 
        rgba(150,255,255,0.3) 30px, 
        rgba(150,255,255,0.3) 60px
    );
}
header div {
    float:left;
}
/* navigation */
nav{
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("images/dark.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat;
    background-color: #333333;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a{
    float: left;
    display: block;
    color: #bbb;
    text-align: center;
    padding: 14px 20px 14px 0;
    text-decoration: none;
}
nav li a:hover, nav a:hover {
    color: #eeeeee;
}
nav .active a {
    color: #ffffff;
}
nav .icon {
    display: none;
}

/* right collumn - auth/profile info */
.right-col {
    background-image: url("images/dark.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat;
    background-color: #333333;
    position: fixed;
    width: 150px;
    right: 0;
    top: 0;
    padding: 200px 1em 0 1em;
    height: 100%;
    color: #eeeeee;
}
.right-col a, .right-col input {
    color: #222222;
    text-shadow: 0 0 1px #999999; 
    background-color: #dddddd;
    margin: 2px 0;
    height: 1.5em;
    font-size: 0.85em;
    width: 150px;
    text-align: center;
    display:block;
    border: none;
    padding: 0;
    text-decoration: none;
}
.right-col input[type=text], .right-col input[type=password] {
    background-color: #ffffff;
}
.right-col input[type=button]:hover, .right-col input[type=submit]:hover, .right-col a:hover {
    cursor: pointer;
    text-shadow: none; 
    background-color: #999999;
    color: #ffffff;
}
.right-col h2 {
    word-wrap: break-word;
}

/* messages */
.message {
    text-shadow: 0 0 2px white;
    font-weight: bold;
}
.message.error {
    color: #FF0000;
}
.message.success {
    color: #3FB500;
}
.message.warning {
    color: #A47500;
}

/* *************** */
/* footer settings */
/* *************** */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    height: 7rem;
    background-image: url("images/dark.png");
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat;
    background-color: #333333;
    color: #b2b2b2;
    text-align: center;
}
.footer a {
    color: #6A8FB5;
}
.footer a:hover {
    color: #2FA2FF;
}
footer .container {
    padding-left: 0;
    padding-right: 0;
}
.end-float {
    clear: both;
}

/* ***** */
/* forms */
/* ***** */
main textarea {
    width: 100%;
    height: 30rem;
    resize: vertical;
}

main form label {
    width: 15em;
    display: inline-block;
}
main #packs-form label {
    width: 90%;
    display: inline-block;
}
#packs-form {
    width: 100%;
    padding: 2px 2% 2px 0;
}
#packs-form div div {
    padding: 1px 5px;
    margin: 5px 0;
}
#packs-form div div:nth-child(odd) {
    background: rgba(255,255,255,0.5);
}
#packs-form div div:nth-child(even) {
    background: rgba(0,0,0,0.2);
}

/* ***** */
/* packs */
/* ***** */
.packs {
    padding: 2rem 0;
}
.pack {
    float: left;
    width: 23%;
    height: 10rem;
    margin-right: 1%;
    margin-bottom: 1%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffffff;
}
.pack a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px black;
}
.pack p, .pack h2, span.pack-date{
    text-align: center;
    width:100%
}
.pack p{
    position: absolute;
    bottom: 0;
}
.pack-bought {
    background: rgba(0, 255, 0, 0.1);
}
.pack-avaliable {
    background: rgba(255, 255, 0, 0.1);
}
.packs .pack-new {
    background-image: url('images/new.gif');
    background-repeat: no-repeat;
    background-position: top right;
}
a.pack-buy {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-size: 1.3em;
}
.pack-data div{
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.pack-data a {
    text-decoration: none;
    color: #666666;
    text-shadow: -1px 0 black;
    font-size: 1.5em;
}
.pack-data div:nth-child(odd) {
    background: rgba(255,255,255,0.2);
}
.pack-data div:nth-child(even) {
    background: rgba(0,0,0,0.2);
}
.pack-date {
    color: rgba(0,0,0,0.5);
    display: inline-block;
}

/* ***** */
/* video */
/* ***** */
.center {
    margin: 0 auto;
    width: 100%;
}
video {
    height: 96vh;
}
/* ************* */
/* ************* */
/* ************* */
/* ************* */
/* ************* */
/* ************* */
/* ************* */

/* responsive style for large screens*/
@media screen and (max-width: 1200px) {
    .container {
        padding: 0.5em 25% 0.5em 5%;
        width: 70%;
    }
    .pack {
        width: 48%;
    }
}
/* responsive design for large screens*/

 /* responsive style for medium screens*/
 @media screen and (max-width: 800px) {
    .container {
        padding: 0.5em 30% 0.5em 5%;
        width: 65%;
    }
    .pack {
        width: 98%;
    }
}
/* responsive design for medium screens*/

 /* responsive style for small screens*/
@media screen and (max-width: 650px) {
    .container {
        padding: 0.5em 5%;
        width: 90%;
    }
    nav ul li a, nav .right-col {
        display: none;
    }
    nav .icon {
        display: block;
        color: #bbb;
        text-align: left;
        padding: 14px 0;
        text-decoration: none;
        width: 100%;
    }
    nav .responsive {
        position: relative;
    }
    nav .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav .responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    nav .responsive {
        display: block;
        position: relative;
        width: 100%;
        padding: 14px 0;

    }
    nav .responsive input{
        width: 100%;
        padding: 0 0;
    }
}
/* responsive design for small screens*/

/* responsive for small height */ 
@media screen and (max-height: 400px) {
    .right-col {
        position: absolute;
        padding: 0 1em 0 1em;
    }
    .right-col form {
        margin-top: 1em;
    }
}
/* responsive for small height */ 