
            
            <h2><?=$pack['title']?></h2>
            <p><a class="pack-buy" href="balicky/<?=$pack['url']?>/buy">Koupit</a></p>
            <p class="pack-date"><?php echo date("j. n. Y",strtotime($pack['createdate']));?></p>
            <div>
                <?=$_pack['introduction']?>
            
            </div>
