            
            <h2><?=$pack['title']?></h2>

            <p class="pack-date"><?php echo date("j. n. Y",strtotime($pack['createdate']));?></p>

            <p><?=$_pack['introduction']?></p>

            <div class="pack-data">
            <?php foreach($_packdata["videos"] as $_video): ?>
                
                <div class="video">
                    <a href="balicky/<?=$pack["url"]?>/video/<?=$_video["url"]?>"><?=$_video["title"]?></a>
                    <p><?php
                        $content = strip_tags($_video["content"]);
                        $content = trim(preg_replace("/(?:\s|&nbsp;)+/", ' ', $content));
                        if(strlen($content)>55) 
                            echo (substr($content,0,50).'...');
                        else echo ($content); 
                    ?></p>
                </div>
            <?php endforeach ?>
            <?php foreach($_packdata["articles"] as $_article): ?>

                <div class="article">
                    <a href="balicky/<?=$pack["url"]?>/clanek/<?=$_article["url"]?>"><?=$_article["title"]?></a>
                    <p><?php
                        $content = strip_tags($_article["content"]);
                        $content = trim(preg_replace("/(?:\s|&nbsp;)+/", ' ', $content));
                        if(strlen($content)>55) 
                            echo (substr($content,0,50).'...');
                        else echo ($content); 
                    ?></p>
                </div>
            <?php endforeach ?>

            </div>