            
            <h2><?=$video["title"]?></h2>
            <video controls class="center" preload="auto" src="play/<?=$pack["url"]?>/<?=$video["url"]?>">
                Váš prohlížeč nepodporuje videa, prosím, použijte jiný.
            </video>
            <div>
                <?=$_video["content"]?>

            </div>
