
                <ul class="adminlist">
                    <li><a href="administrace/podminky">Podmínky pro používání scholé21</a></li>
                    <li><a href="administrace/home">Scholé21</a></li>
                    <li><a href="administrace/informace">Informace</a></li>
                    <li><a href="administrace/jsem-rodic">Jsem rodič</a></li>
                    <li><a href="administrace/chci-se-ucit">Chci se učit</a></li>
                    <li><a href="administrace/kontakt">Kontakt</a></li>
                    <li><a href="administrace/balicky">Balíčky</a></li>
                    <li><a href="administrace/clanky">Články</a></li>
                    <li><a href="administrace/videa">Videa</a></li>
                </ul>
                