

            <input type="button" value="Smazat" onclick="deleteArticle('<?=$article['url']?>')">
            <h3><?=$article["title"]?></h3>
            <form method="post" action="administrace/clanky/<?=$article["url"]?>">
                <textarea id="content" class="tinyarea" name="content" placeholder="Obsah článku"><?=$article["content"]?></textarea>
                <input type="submit" value="Uložit změny">
            </form>
