

                <a href="administrace/clanky/new">Nový článek</a>

                <ul>
                <?php foreach ($articles as $article): ?>

                    <li><a href="administrace/clanky/<?=$article["url"]?>"><?=$article["title"]?></a></li>
                <?php endforeach ?>
                
                </ul>