

            <h3>Nový článek</h3>
            <form method="post" action="administrace/clanky/new">
                <input type="text" id="title" name="title" placeholder="Nadpis článku" required="required" value="<?php if(isset($_POST["title"])) echo $_POST["title"];?>"> <br/> <br/>
                <textarea id="content" class="tinyarea" name="content" placeholder="Obsah článku"><?php if(isset($_POST["content"])) echo $_POST["content"];?></textarea>
                <input type="submit" value="Přidat článek">
            </form>