

            <h2>Kontaktní formulář</h2>

            <div>
                <?=$_page["content"]?>
            
            </div>

            <form method="post" id="form-contact" action="kontakt">
                <label for="email">Vaše emailová adresa:</label>
                <input type="email" name="email" required="required" value=<?php
                    if (isset($_SESSION['user']))
                        echo('"'.$_SESSION['user']['email'].'" disabled'); 
                    else if (isset($_POST['email']))
                        echo('"'.htmlspecialchars($_POST['email']).'"');
                    else echo('""'); ?> /><br/>
                <label for="rok">Antispam - zadejte aktuální rok: </label>
                <input type="text" name="rok" required="required" /><br/>
                <textarea name="zprava" id="zprava" placeholder="Vaše zpráva"><?php if (isset($_POST['zprava'])) echo(htmlspecialchars(nl2br($_POST['zprava']))); ?></textarea><br />
                <input type="submit" value="Odeslat" />
            </form>
            