

            <h3>Úprava stránky Jsem rodič</h3>
            <form method="post" action="administrace/jsem-rodic">
                <textarea id="content" class="tinyarea" name="content"><?=$page["content"]?></textarea>
                <input type="submit" value="Uložit úpravy">
            </form> 
