

            <h3>Úprava stránky Chci se učit</h3>
            <form method="post" action="administrace/chci-se-ucit">
                <textarea id="content" class="tinyarea" name="content"><?=$page["content"]?></textarea>
                <input type="submit" value="Uložit úpravy">
            </form>
