

            <h3>Úprava hlavní stránky</h3>
            <form method="post" action="administrace/home">
                <textarea id="content" class="tinyarea" name="content"><?=$page["content"]?></textarea>
                <input type="submit" value="Uložit úpravy">
            </form>
