

            <h3>Úprava stránky Informace</h3>
            <form method="post" action="administrace/informace">
                <textarea id="content" class="tinyarea" name="content"><?=$page["content"]?></textarea>
                <input type="submit" value="Uložit úpravy">
            </form>