<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <base href="/localhost" />
        <meta charset="UTF-8" />
        <title><?= $title ?></title>
        <meta name="description" content="<?= $description ?>" />
        <meta name="keywords" content="<?= $keywords ?>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery -->
        <script src="js.js?v=<?= $version ?>"></script> 
        <link rel="stylesheet" href="style.css?v=<?= $version ?>" type="text/css"/>
    </head>

    <body>
        <div class="header-top">
            <header>
                <div class="container">
                    <div>
                        <h1><a href="/">Scholé21</a></h1>
                        <p><?= $pagedescrip ?></p>
                    </div>
                    <div class="logo"><img src="so"></div>
                </div>
            </header>

            <nav class="container">  
                <ul class="navbar" id="navbar">
                    <?php foreach ($nav as $key => $li) : ?>
                    
                    <li class="nav-item<?= $key == $anav ? ' active' : '' ?>">
                        <a href="<?= $key ?>" class="nav-link"><?= $li ?></a>
                    </li>
                    <?php endforeach ?>
                    
                </ul>
                                
                <div class="right-col" id="right-col">
                    <h2><?= $_SESSION["user"]["username"]?></h2>
                    <?php foreach($rcol as $href => $value) : ?>

                    <input type="button" value="<?= $value ?>" onClick="window.location='<?= $href ?>'">
                    <?php endforeach ?>

                </div>
                
                <a href="javascript:void(0);" class="icon" onclick="navResponsive()">Menu &#9776;</a>
            </nav>
        </div>

        <main role="main" id="main" class="container">
            <?php foreach ($messages as $message) : ?>

            <p class="message <?= $message["type"] ?>"><?= $message["data"] ?></p>
            
            <?php endforeach ?>

            <?php $this->controller->printView(); ?>


        </main>

        <footer class="footer">
            <div class="container">
                <?=$_footer?>
                
            </div>
        </footer>
    </body>
</html>