<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <base href="/localhost" />
        <meta charset="UTF-8" />
        <title><?= $title ?></title>
        <meta name="description" content="<?= $description ?>" />
        <meta name="keywords" content="<?= $keywords ?>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery -->
        <script src="js.js?v=<?= $version ?>"></script> 
        <link rel="stylesheet" href="style.css?v=<?= $version ?>" type="text/css"/>
    </head>

    <body>
        <div class="header-top">
            <header>
                <div class="container">
                    <div>
                        <h1><a href="/">Scholé21</a></h1>
                        <p><?= $pagedescrip ?></p>
                    </div>
                    <div class="logo"><img src="so"></div>
                </div>
            </header>

            <nav class="container">
                <ul class="navbar" id="navbar">
                    <?php foreach ($nav as $key => $li) { ?>
                    
                    <li class="nav-item<?= $key == $anav ? ' active' : '' ?>">
                        <a href="<?= $key ?>" class="nav-link"><?= $li ?></a>
                    </li>
                    <?php } ?>

                </ul>
                                
                <div class="right-col" id="right-col">
                    <form action="prihlaseni" method="post">
                        <input type="text" id="flogin" name="login" placeholder="Login">
                        <input type="password" id="fpassword" name="password" placeholder="Heslo">
                        <input type="submit" value="Přihlásit se">
                        <input type="button" value="Registrovat" onClick="window.location='registrace'">
                    </form>
                </div>
                
                <a href="javascript:void(0);" class="icon" onclick="navResponsive()">Menu &#9776;</a>
            </nav>
        </div>

        <main role="main" id="main" class="container">
        
            <?php foreach ($messages as $message) : ?>

            <p class="message <?= $message["type"] ?>"><?= $message["data"] ?></p>

            <?php endforeach ?>
            
            <?php $this->controller->printView(); ?>


        </main>

        <footer class="footer">
            <div class="container">
                <?=$_footer?>
                
            </div>
        </footer>
    </body>
</html>