
            <form action="prihlaseni" method="post">
                <label for="login">Přihlašovací jméno: </label>
                <input type="text" id="flogin" name="login" placeholder="Login" required="required">
                <br/>
                <label for="password">Heslo: </label>
                <input type="password" id="fpassword" name="password" placeholder="Heslo" required="required">
                <br/>
                <input type="submit" value="Přihlásit se"> 
                <input type="button" value="Registrovat" onClick="window.location='registrace'">
            </form>
