

            <input type="button" value="Smazat" onclick="deletePack('<?=$pack['url']?>')">
            <h3><?=$pack["title"]?></h3>
            <form method="post" action="administrace/balicky/<?=$pack["url"]?>">
                <textarea id="introduction" class="tinyarea" name="introduction" placeholder="Popis balíčku"><?=$pack["introduction"]?></textarea>
                <input type="submit" value="Uložit změny">
            </form>

            <?php if(!empty($videos) || !empty($articles)) { ?>

            <form id="packs-form" method="post">
            <?php if(!empty($videos)) { ?>

                <div class="float">
                    <h3>Videa: </h3>
            <?php foreach($videos as $video): ?>
                
                    <div>
                        <label for="v_<?=$video["url"]?>"><?=$video["title"]?></label>
                        <input type="checkbox" value="v_<?=$video["url"]?>" name="v_<?=$video["url"]?>" id="v_<?=$video["url"]?>" <?php 
                            if($video["in_pack"]) echo ('checked');?>>
                    </div>
            <?php endforeach ?>
            
                </div>
            <?php 
                }
                if(!empty($articles)) { ?>

                <div class="float">
                    <h3>Články: </h3>
            <?php foreach($articles as $article): ?>

                    <div>
                        <label for="a_<?=$article["url"]?>"><?=$article["title"]?></label>
                        <input type="checkbox" value="a_<?=$article["url"]?>" name="a_<?=$article["url"]?>" id="a_<?=$article["url"]?>" <?php 
                            if($article["in_pack"]) echo ('checked');?>><br/>
                    </div>
            <?php endforeach ?>

                </div>
                <?php 
                } ?>

                <input type="hidden" value="1" name="hid" id="hid">
                <input type="submit" value="Uložit změny" class="end-float">
            </form>
            <?php  } ?>