
            <div>
                <span>Zobrazit:</span>
                <input type='checkbox' id='view_bought' name='view_bought' checked>
                <label for='view_bought'>Zakoupené</label>
                <input type='checkbox' id='view_avaliable' name='view_avaliable' checked>
                <label for='view_avaliable'>Nezakoupené</label>
            </div>
            <div>
                <span>Seřadit:</span>
                <input type='radio' id='sort_date' name='sort' value='sort_date' checked>
                <label for='sort_date'>Nejnovější</label>
                <input type='radio' id='sort_name' name='sort' value='sort_name'>
                <label for='sort_name'>Abecedně</label>
            </div>

            <div class="packs packs-date" id='packs-date'> 
            <?php foreach ($_allpacksdate as $pack): ?>

                <div class='pack <?php 
                        if($pack['bought'] == 1)
                            echo("pack-bought");
                        else echo("pack-avaliable");

                        $comparedate = new DateTime('');
                        $packdate = new DateTime($pack["createdate"]);
                        $packdate = $packdate->add(new DateInterval("P1M"));
                        if($comparedate <= $packdate) echo (" pack-new");
                    ?>'>
                    <h2><a href='balicky/<?= $pack['url']?>'><?= $pack['title']?></a></h2>
                    <span class="pack-date"><?php echo date("j. n. Y",strtotime($pack['createdate']));?></span>
                    <p><?php 
                        $introduction = strip_tags($pack['introduction']);
                        $introduction = trim(preg_replace("/(?:\s|&nbsp;)+/", ' ', $introduction));
                        if(strlen($introduction)>55)
                            echo substr($introduction,0,50).'...';
                        else echo $introduction;?></p>
                </div>
            <?php endforeach ?>

            </div>

            <div class="end-float"></div>

            <div class="packs packs-name" id='packs-name' style="display:none;">
            <?php foreach ($_allpacksname as $pack): ?>

                <div class='pack <?php 
                        if($pack['bought'] == 1)
                            echo("pack-bought");
                        else echo("pack-avaliable");

                        $comparedate = new DateTime('');
                        $packdate = new DateTime($pack["createdate"]);
                        $packdate = $packdate->add(new DateInterval("P1M"));
                        if($comparedate <= $packdate) echo (" pack-new");
                    ?>'>
                    <h2><a href='balicky/<?= $pack['url']?>'><?= $pack['title']?></a></h2>
                    <span class="pack-date"><?php echo date("j. n. Y",strtotime($pack['createdate']));?></span>
                    <p><?php 
                        $introduction = strip_tags($pack['introduction']);
                        $introduction = trim(preg_replace("/(?:\s|&nbsp;)+/", ' ', $introduction));
                        if(strlen($introduction)>55)
                            echo substr($introduction,0,50).'...';
                        else echo $introduction;?></p>
                </div>
            <?php endforeach ?>

            </div>
            <div class="end-float"></div>
