

            <h3>Nový balíček</h3>
            <form method="post" action="administrace/balicky/new">
                <input type="text" id="title" name="title" placeholder="Nadpis balíčku" required="required" value="<?php if(isset($_POST["title"])) echo $_POST["title"];?>">
                <textarea id="introduction" class="tinyarea" name="introduction" placeholder="Popis balíčku"><?php if(isset($_POST["introduction"])) echo $_POST["introduction"];?></textarea>
                <input type="submit" value="Přidat balíček">
            </form>
