

                <a href="administrace/balicky/new">Nový balíček</a>

                <ul>
                <?php foreach ($packs as $pack): ?>

                    <li><a href="administrace/balicky/<?=$pack["url"]?>"><?=$pack["title"]?></a></li>
                <?php endforeach ?>

                </ul>
