

            <h3>Úprava podmínek pro používání</h3>
            <form method="post" action="administrace/podminky">
                <textarea id="content" class="tinyarea" name="content"><?=$page["content"]?></textarea>
                <input type="submit" value="Uložit úpravy">
            </form>
