    
            <h2>Profil uživatele <?= $_SESSION['user']['username']?></h2>
            <img src='<?= $_SESSION['user']['picture']?>' style="max-height:150px; max-width:150px;">

            <form method='post' action='profil' enctype='multipart/form-data'>
                <input type="file" id="newpicture" name="newpicture">
                <br/>
                <br/>
                <label for="password">Staré heslo: *</label>
                <input type="password" id="fpassword" name="password" placeholder="Heslo" required="required">
                <br/>
                <label for="password1">Nové heslo: </label>
                <input type="password" id="fpassword1" name="password1" placeholder="Heslo">
                <br/>
                <label for="password2">Nové heslo znovu: </label>
                <input type="password" id="fpassword2" name="password2" placeholder="Heslo">
                <br/>
                <label for="email">Nový e-mail: </label>
                <input type="email" id="femail" name="email" placeholder="e-mail">
                <br/>
                <input type="submit" value="Změnit údaje"> 
            </form>
