

            <h2>
                Registrace
            </h2>

            <form method="post" action ="registrace">
                <label for="login">Přihlašovací jméno: </label>
                <input type="text" id="flogin" name="login" placeholder="Login" required="required" value="<?php if(isset($_POST['login'])) echo($_POST['login']);?>">
                <br/>
                <label for="password">Heslo: </label>
                <input type="password" id="fpassword" name="password" placeholder="Heslo" required="required">
                <br/>
                <label for="password">Heslo znovu: </label>
                <input type="password" id="fpassword2" name="password2" placeholder="Heslo" required="required">
                <br/>
                <label for="name">Zobrazované jméno: </label>
                <input type="text" id="fname" name="name" placeholder="Jméno/přezdívka" required="required" value="<?php if(isset($_POST['name'])) echo($_POST['name']);?>">
                <br/>
                <label for="email">E-mail: </label>
                <input type="email" id="femail" name="email" placeholder="e-mail" required="required" value="<?php if(isset($_POST['email'])) echo($_POST['email']);?>">
                <br/>
                <label for="name">Antispam, zadejte aktuální rok: </label>
                <input type="text" id="frok" name="rok" required="required">
                <br/>
                <input type="submit" value="Registrovat"> 
            </form>
