


                <a href="administrace/videa/new">Nové video</a>

                <ul>
                <?php foreach ($videos as $video): ?>

                    <li><a href="administrace/videa/<?=$video["url"]?>"><?=$video["title"]?></a></li>
                <?php endforeach ?>
                
                </ul>
