          
            <input type="button" value="Smazat" onclick="deleteVideo('<?=$video['url']?>')">
            <h2><?=$video["title"]?></h2>
            <video controls class="center" preload="auto" src="play/<?=$video["url"]?>">
                Váš prohlížeč nepodporuje videa, prosím, použijte jiný.
            </video>
            <form method="post" action="administrace/videa/<?=$video["url"]?>">
                <textarea id="content" class="tinyarea" name="content" placeholder="Obsah článku"><?=$video["content"]?></textarea>
                <input type="submit" value="Uložit změny">
            </form>
