        
            <h2>Přidání nového videa</h2>
            <form method='post' action='administrace/videa/new' enctype='multipart/form-data'>
                <input type="file" id="video" name="video">
                <br/>
                <br/>
                <input type="text" id="title" name="title" placeholder="Název videa" required="required" value="<?php if(isset($_POST["title"])) echo $_POST["title"];?>"> <br/> <br/>
                <textarea id="content" class="tinyarea" name="content" placeholder="Popis videa"><?php if(isset($_POST["content"])) echo $_POST["content"];?></textarea>
                <input type="submit" value="Přidat video">
            </form>
