
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
        
    /* set informace as first page */
    $(".slider").slideUp(0);
    $("#informace").slideDown(0);
    $("#informace-a").addClass("active");
    $("a").click(function(){
        var ida = "#" + this.id;
        var id = ida.substring(0, ida.length - 2);
        if(!$(ida).hasClass("active")){
            $(".slider-a").removeClass("active");
            $(ida).addClass("active");
            $(".slider").slideUp("slow");
            $(id).slideDown("slow");
        }
    });
});

</script>
<style>
.active {
    color: green;
}
</style>

            <div class="home-slider">
                <div class="slider-nav navbar" id="navbar">
                    <ul>
                        <li>
                            <a href="home#" id="informace-a" class="slider-a">Informace</a>
                        </li>
                        <li>
                            <a href="home#" id="jsem-rodic-a" class="slider-a">Jsem rodič</a>
                        </li>
                        <li>
                            <a href="home#" id="chci-se-ucit-a" class="slider-a">Chci se učit</a>
                        </li>
                        <li>
                            <a href="home#" id="kontakt-a" class="slider-a">Kontakt</a>
                        </li>
                    </ul>
                </div>
            
                <div class="slider" id="informace">
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                    informace slide
                </div>

                <div class="slider" id="jsem-rodic">
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                    jsem rodic slide
                </div>
                
                <div class="slider" id="chci-se-ucit">
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                    chci se učit slide
                </div>
                
                <div class="slider" id="kontakt">
                    kontakt slide
                    kontakt slide
                    kontakt slide
                    kontakt slide
                    kontakt slide
                    kontakt slide
                    kontakt slide
                    kontakt slide
                </div>

            </div>

            <?php
